.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.quartz-cache
private/*
Private/*
.replit
replit.nix
Polymath/*
Finnish/*
content/.obsidian/workspace.json
content/.obsidian/workspace-mobile.json
content/.obsidian/app.json