.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.quartz-cache
private/*
Private/*
*/NVIDIA/*
*/nvidia/*
*/private/*
*/Private/*
.replit
replit.nix
Polymath/*
Finnish/*
content/.obsidian/workspace.json
content/.obsidian/workspace-mobile.json
content/.obsidian/app.json
content/kai++.md
**/LADR4e.pdf
content/Other/Grad School/*