@use "./base.scss";

// put your custom CSS here!
mjx-container[display="true"] > svg {
    display: block;
    margin: auto;
}

article.popover-hint img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}